<!-- This page will feature 3 text blocks, each with a large photo floated, alternating left and right down the page.

-->

<div class="container about">
	<div class="row">
		<div class="col-sm-4">
			<img src="" alt=""></div>
		<div class="col-sm-8">
			<p></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<p></p>
		</div>
		<div class="col-sm-4">
			<img src="" alt=""></div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img src="" alt=""></div>
		<div class="col-sm-8">
			<p></p>
		</div>
	</div>
</div>

