<!-- This page will feature 3 text blocks, each with a large photo floated, alternating left and right down the page.

-->

<div class="container about">
	<div class="row">
		<div class="col-sm-4">
			<img src="" alt="">Co. picture</div>
		<div class="col-sm-8">
			<p>About company stuff. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero repellat nisi distinctio eligendi nemo, et amet rerum velit excepturi, ex, quibusdam magnam reiciendis possimus at saepe accusantium esse quae quaerat.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<p>About developers Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, labore quibusdam laudantium, officiis facere tenetur rem! Aliquam quod quos veniam, qui at facilis eos illo harum, voluptatibus maxime eligendi.</p>
		</div>
		<div class="col-sm-4">
			<img src="" alt="">Developer img</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img src="" alt="">Developer img 2</div>
		<div class="col-sm-8">
			<p>Developer about stuff  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magnam, excepturi! Quae sed minima eveniet commodi repellat, dolore! Magnam vitae qui iusto quos, placeat expedita delectus saepe numquam quam. Voluptatibus.</p>
		</div>
	</div>
</div>

