

<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form method="POST">
			  <label for="email">Your Email</label>
			  <input name="email" placeholder="yourname@company.com" /><br />
			  <label for="subject">Subject</label>
			  <input name="subject" placeholder="Enter a title" /><br />
			  <textarea name="comment"></textarea><br />
			  <input type="submit" value="Send" />
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>


