<!-- Home page layout will include the header nav bar and footer from the layout page. 

This page will feature a larger format logo or company photo with a quick description wrapped or underneath.

Along the side this page will have a column to feature some scrolling, tech related information pulled from an api.

-->

<body>

<div class="container">
	<div class="row">
		<div class="col-sm-8"></div>
		<div class="col-sm-4 apifeed"></div>
		<div class="col-sm-8"></div>
		<div class="col-sm-8"></div>
	</div>
</div>
