
<!-- this page will feature past projects as a way to showcase skills and drive new business. Links to code samples and contact page / form. 
Maybe use a pop up modal to display code samples on click (js?)

Laid out with a gif showing project functionality in action. Hover or click to roll out description. The far side of the roll out will have buttons to display code samples, connect to the contact page and upvote the project.

-->

<div class="container project">
	<div class="row projName01">
		<div class="col-sm-2 projectGif"><img src=""/>Project Gif
		</div>
		<div class="col-sm-8 projectDesc">Words words words
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aperiam adipisci, saepe ea, porro ad eveniet nihil ipsum reiciendis labore magni, nesciunt voluptatibus sint voluptatum aspernatur aliquid magnam provident veritatis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dolorem rem quam molestias adipisci qui possimus, vel. Ducimus mollitia, unde? Pariatur natus, labore ea aliquam odio possimus temporibus dolorem facilis.</div>
		<div class="col-sm-2">
<!-- 			<div class="projectButtons code">code sample</div>
			<div class="projectButtons contact">contact us</div>
			<div class="projectButtons upVote">upvote</div> -->
		</div>
	</div>
	<div class="row projName02">
		<div class="col-sm-2 projectGif"><img src="">Project Gif</div>
		<div class="col-sm-8 projectDesc">Words words words
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aperiam adipisci, saepe ea, porro ad eveniet nihil ipsum reiciendis labore magni, nesciunt voluptatibus sint voluptatum aspernatur aliquid magnam provident veritatis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dolorem rem quam molestias adipisci qui possimus, vel. Ducimus mollitia, unde? Pariatur natus, labore ea aliquam odio possimus temporibus dolorem facilis.</div>
		<div class="col-sm-2">
<!-- 			<div class="projectButtons code">code sample</div>
			<div class="projectButtons contact">contact us</div>
			<div class="projectButtons upVote">upvote</div>
 -->	</div>
	</div>
	<div class="row projName03">
		<div class="col-sm-2 projectGif"><img src="" alt="">Project Gif</div>
		<div class="col-sm-8 projectDesc">Words words words
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aperiam adipisci, saepe ea, porro ad eveniet nihil ipsum reiciendis labore magni, nesciunt voluptatibus sint voluptatum aspernatur aliquid magnam provident veritatis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dolorem rem quam molestias adipisci qui possimus, vel. Ducimus mollitia, unde? Pariatur natus, labore ea aliquam odio possimus temporibus dolorem facilis.</div>
		<div class="col-sm-2">
<!-- 			<div class="projectButtons code">code sample</div>
			<div class="projectButtons contact">contact us</div>
			<div class="projectButtons upVote">upvote</div> -->
		</div>
	</div>
	<div class="row projName04">
		<div class="col-sm-2 projectGif"><img src="" alt="">Project Gif</div>
		<div class="col-sm-8 projectDesc">Words words words
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aperiam adipisci, saepe ea, porro ad eveniet nihil ipsum reiciendis labore magni, nesciunt voluptatibus sint voluptatum aspernatur aliquid magnam provident veritatis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dolorem rem quam molestias adipisci qui possimus, vel. Ducimus mollitia, unde? Pariatur natus, labore ea aliquam odio possimus temporibus dolorem facilis.</div>
		<div class="col-sm-2">
<!-- 			<div class="projectButtons code">code sample</div>
			<div class="projectButtons contact">contact us</div>
			<div class="projectButtons upVote">upvote</div> -->
		</div>
	</div>
	<div class="row projName05">
		<div class="col-sm-2 projectGif"><img src="" alt="">Project Gif</div>
		<div class="col-sm-8 projectDesc">Words words words
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aperiam adipisci, saepe ea, porro ad eveniet nihil ipsum reiciendis labore magni, nesciunt voluptatibus sint voluptatum aspernatur aliquid magnam provident veritatis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dolorem rem quam molestias adipisci qui possimus, vel. Ducimus mollitia, unde? Pariatur natus, labore ea aliquam odio possimus temporibus dolorem facilis.</div>
		<div class="col-sm-2">
<!-- 			<div class="projectButtons code">code sample</div>
			<div class="projectButtons contact">contact us</div>
			<div class="projectButtons upVote">upvote</div>
 -->	</div>
	</div>
</div>
