#background{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -1;
	opacity: 0.75;
}
body {

}


.buttons li {
	list-style-type: none;
	float: right;
	padding: 5px 15px;
	border: 1px solid grey;

}
.buttons li:hover{


}
.buttons .logo{
	float: left;
}*/

/*div {
	border: 1px solid black;
}*/
.apifeed {
	float: right;
	height: 400px;
}

.about img {

}
.projectGif, .projectButtons {
	cursor: pointer;
}

.project .projectDesc{
	display: none;
}
/*
.projectButtons{
	height: 20px;
	width: 150px;
}
div .projectButtons{
	display: none;
}
*/
.projectGif{
	height: 100px;
}
.projName01 .projectGif{
	background-image: url('homerStill.png');
	background-size: cover;
}
.projName01 .projectGif:hover {
	background-image: url('homer.gif');
	background-size: cover;
	
}
#description{
	margin: 1.5%;
}
#descriptionExtended{
	margin: 1.5%;
}
#miniLogo{
	width: 100%;
	height: 100%;
	align-items: center;
}
#homeLogo{
	width: 50%;
	height: 50%;
	float: left;
}
.homeDis{
	width: 100%;
	margin: 10%;
	padding: 10%;
	font-size: 25px;
	color: darkblue;
	float: right;
}
#aboutLogo{
	width: 115%;
	height: 115%;
	float: left;
	margin-right: 10%;
}
#aboutCompany{
	width: 100%;
	margin: 10%;
	padding: 10%;
	font-size: 15px;
}
.devPic{
	width: 80%;
	height: 80%;
	float: left;
	margin: 15%;
	border: solid;
	border-color: black;
}
.devDis{
	margin: 10%;
	size: 90%
	font-size:15%;
}
.labelC{
	font-size: 150%;
	margin: 1%;
}
.inputF{
	margin: 5%;
}
#cmmntBox{
	width: 90%;
	height: 180%;
}
#subBox{
	margin-left: 10%;
}
#button{
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 50%;
}
